<!DOCTYPE HTML>
<html xlmns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>

<style type="text/css">
table {
    border: 1px solid green;
    width: 60%;
    margin-left: 20%;
    border-collapse: collapse;
}
 
td, th {
    border: 1px solid green;
    text-align: center;
}
 
th {
    background: yellow;
    color: red;
}
 
h1, h4 {
    text-align: center;
}
</style>

</head>
<body>
<h1>Product Dashboard</h1>

<table>
	<tr>
		<th>ID</th>
		<th>NAME</th>
		<th>CATEGORY</th>
		<th>PRICE</th>
		<th>ACTION</th>
	</tr>
 
	<tr th:each="product : ${allProducts}">
		<td th:text="${product.prod_id}">Product ID</td>
		<td th:text="${product.prod_name}">Product Name</td>
		<td th:text="${product.prod_price}">Product Price</td>
        <td th:text="${product.prod_stock}">Product Category</td>
        <td th:text="${product.prod_desc}">Product Category</td>
        <td th:text="${product.prod_stock}">Product Category</td>
        
	</tr>
</table>

</body>
</html>